body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #191A19;
}

div {
    color: #D8E9A8;
}

h1 {
    margin: 0 auto;
    font-size: 5.7rem;
    font-family: 'Sassy Frass', cursive;
    line-height: 2em;
    color: #4E9F3D;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2, 5;
    font-weight: normal;
    color: #4E9F3D;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #4E9F3D;
}

hr {
    border: dotted 6px;
    border-bottom: none;
    color: #4E9F3D;
    margin: 100px auto;
    width: 4%;

}

a {
    #EEEBDD
}

.contact {
    width: 40%;
    margin: 40px auto;
}

.top {
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #1E5128;
    color: #EEEBDD;
    padding: 50px 0 20px;
}

.felho {
    position: absolute;
    right: 250px;
    width: 15%;
    height: 15%;
    object-fit: contain;
}

.pfp {
    height: 200px;
    width: 200px;
}

.cp {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.wc {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 200%;
}

.intro {
    width: 30%;
    margin: auto;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #EEEBDD;
    font-size: 20px;
    background: #1E5128;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.btn:hover {
    background: #CE1212;
    text-decoration: none;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #EEEBDD;
  color: #191A19;
}
